node_modules
dist
android
/renderer/resources/testing.html
/renderer/resources/info.txt
/renderer/resources/details.txt
/renderer/resources/styletest.css
/renderer/resources/scripttest.js
/renderer/resources/sample.pdf
/renderer/resources/App_paradigm.odg
capacitor.config.ts
sdk
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
