# Ignore node modules
node_modules

# Ignore build directories and files
dist
android
capacitor.config.ts
sdk
#.commit

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore private assets
assets
patch_goal.md
