@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
:root {
	--prm: #05445E;
	--sec: #5bb4aa;
	--fnt: #ffffff;
	--hvr: #D4F1F4;
	--bgi: url('./blue.png');
}
body{
	transition-duration: 1s;
	background-image: var(--bgi);
	color: var(--fnt);
	font-family: "Balsamiq Sans", cursive;
}
header{
	display: block;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background: var(--sec);
	border-radius: 15px;
}
.frontboard{
	font-size: 250%;
	display: inline-block;
	background: var(--prm);
	border: none;
	color: var(--fnt);
	border-radius: 15px;
	padding: 20px;
	font-family: "Pacifico";
}
.more{
	display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px;
}
.articles{
	font-size: 200%;
	font-family: inherit;
	display: inline-block;
	background: var(--prm);
	border: none;
	border-radius: 15px;
	color: var(--fnt);
	height: 75px;
	width: 75px;
}
.articles:hover{
	transition-duration: 1s;
	background: var(--hvr);
    color: var(--prm);
}
.note{
	margin: 1%;

}
.pagename{
	font-size: 300%;
	margin-top: none;
	margin-bottom: 1%;

}
.card{
	display: block;
	border: 2px solid white;
	border-radius: 25px;
	margin-top:10px;
	padding: 20px;
	color: var(--fnt);
	font-size: 175%;
	text-align: center;
	background-repeat: no-repeat;
	transition-duration: 1s;
	background: var(--prm);
	font-family: "Balsamiq Sans", cursive;
}
.card:hover{
	background-color: var(--hvr);
	color: var(--prm);
}
.gallery{
	text-align: center;
}
a:link, a:visited, a:hover, a:active{
	text-decoration: none;

}
.tab{
	background-color: transparent;
	border: none;
	display: contents;
}
.topic{
	font-size: 145%;
	border-bottom: 2px solid white;
	display: inline-block;
	margin-bottom: 2%;
}
.essay{
	font-size: 150%;
	margin: 1%;
}
#mlink{
	font-family: "Balsamiq Sans", cursive;
	color: var(--fnt);
	font-size: 150%;
	border: 2px solid white;
	border-radius: 15px;
	padding: 20px;
	display: block;
	margin-bottom: 10px;
	background: var(--prm);
}
.testing {
	display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
	margin: 10px;
}
.dropdown {
	position: relative;
}
.droptions {
	display: none;
	position: absolute;
	overflow: auto;
    justify-content: flex-end;
}
.dropdown:hover .droptions{
	display: block;
	margin: 2px;
}
footer{
	display: block;
	margin: 20px;
	padding: 20px;
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background: var(--sec);
	color: var(--fnt);
	border-radius: 15px;
}
