@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body{
	transition-duration: 1s;
	background: #189AB4;
	color: #ffffff;
	font-family: "Balsamiq Sans", cursive;
	
}
header{
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background: #75E6DA;
	border-radius: 15px;
	
}
.frontboard{
	font-size: 250%;
	margin-left: 1%;
	margin-right: 20%;
	display: inline-block;
	background: #05445E;
	border: none;
	color: white;
	border-radius: 15px;
	padding: 20px;
	font-family: "Pacifico";
}
.more{
	display: inline;
	margin-left: 52%;
}
@media only screen and (min-width: 425px) and (max-width: 625px) {
	.more{
		margin-left: 15%;
	}
}
@media only screen and (min-width: 626px) and (max-width: 825px) {
	.more{
		margin-left: 25%;
	}
}
@media only screen and (min-width: 826px) and (max-width: 1025px) {
	.more{
		margin-left: 41%;
	}
}
@media only screen and (min-width: 1026px) and (max-width: 1225px) {
	.more{
		margin-left: 20%;
	}
}
@media only screen and (min-width: 1226px) and (max-width: 1425px) {
	.more{
		margin-left: 50%;
	}
}
@media only screen and (min-width: 1426px) and (max-width: 1625px) {
	.more{
		margin-left: 55%;
		display: inline;
	}
}

.articles{
	font-size: 200%;
	font-family: inherit;
	display: inline-block;
	margin: 5px;
	background: #05445E;
	border: none;
	border-radius: 15px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	padding-left: 1%;
	color: white;
	
}
.articles:hover{
	transition-duration: 1s;
	background: white;
    color: #202020;
}
.note{
	margin: 1%;
	
}
.pagename{
	font-size: 300%;
	margin-top: none;
	margin-bottom: 1%;
	
}
.card{
	display: block;
	border: 2px solid white;
	border-radius: 25px;
	margin-top:10px;
	padding: 20px;
	color: white;
	font-size: 175%;
	text-align: center;
	background-repeat: no-repeat;
	transition-duration: 1s;
	background: #05445E;
	font-family: "Balsamiq Sans", cursive;
}
.card:hover{
	background-color: #D4F1F4;
	color: #05445E;
}
.gallery{
	text-align: center;
}
.icard{
	display: inline-flex;
	border: 2px solid white;
	margin: 5px 5px;
	color: white;
	font-size: 175%;
	text-align: center;
	
}
a:link, a:visited, a:hover, a:active{
	    text-decoration: none;
	    
}
.tab{
	background-color: transparent;
	border: none;
	display: contents;
}
.topic{
	font-size: 145%;
	border-bottom: 2px solid white;
	display: inline-block;
	margin-bottom: 2%;
}
.essay{
	font-size: 150%;
	margin: 1%;
}
#mlink{
	font-family: "Balsamiq Sans", cursive;
	color: white;
	font-size: 150%;
	border: 2px solid white;
	border-radius: 15px;
	padding: 20px;
	display: block;
	margin-bottom: 10px;
	background: #05445E;
}
